/* Wishlist.module.css */

/* Style for the 'Move to Bag' button */
.moveButton {
    margin-right: 10px;
  }
  
  /* Style for the 'Remove' button */
  .removeButton {
    /* Define styling for the 'Remove' button */
  }
  
  /* Flex container for button layout */
  .buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* Spacing between buttons */
  }
  